<!DOCTYPE html>
<html>
<head>
  <title>Gym Membership - Home</title>
  <link rel="stylesheet" href="/css/style.css">

</head>
<body>
   <%- include('partials/navbar') %>
  <h1>Welcome to the Gym Membership DApp</h1>
  <div class="min-h-screen flex items-center justify-center px-4 text-center">
    <div class="space-y-8">
      <h1 
        class="text-5xl sm:text-6xl md:text-7xl font-extrabold animate-pulse 
               bg-gradient-to-r from-green-400 via-blue-500 to-purple-500 
               text-transparent bg-clip-text"
      >
        Your Fitness, Your Chain
      </h1>
      <p class="text-lg text-white">
        Experience a revolutionary gym membership platform secured with blockchain.
      </p>
    </div>
  </div>
  
</body>
</html>